.header {
width: 100%;
height: 70px;
background-color: var(--black);
position: sticky;
top: 0;
z-index: 2;
}

.header__inner {
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.link {
    text-decoration: none;
}

.logo {
    color: var(--white);
    font: 2rem 'Raleway', sans-serif;
    text-transform: uppercase;
}

.peach-span{
    color: var(--peach);
    text-transform: uppercase;
}

.header__navigation {
    position: relative;
    top: 5px;
    width: 40px;
    height: 25px;
}

.menu-button {
    display: none;
}

.menu-button-container {
    width: 40px;
    height: 25px;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-button__line {
    width: 40px;
    height: 4px;
    background-color: var(--lightGrey);
    display: inline-block;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.11,.75,.81,.74);
    animation-fill-mode: forwards;
}

.menu-button[type="checkbox"]:checked + .menu-button-container .menu-button__line:nth-child(1) {
    animation-name: hamburgerAnimation1;
}

@keyframes hamburgerAnimation1 {
    0% {transform: rotate(0deg) translate(0, 0);}
    60% {transform: rotate(405deg) translate(0, 200%);}
    80% {transform: rotate(405deg) translate(50%, 200%);}
    85% {transform: rotate(405deg) translate(45%, 200%);}
    90% {transform: rotate(405deg) translate(10%, 200%);}
    95% {transform: rotate(405deg) translate(12%, 200%);}
    100% {transform: rotate(405deg) translate(17%, 200%);}
}

.menu-button[type="checkbox"]:checked + .menu-button-container .menu-button__line:nth-child(3) {
    animation-name: hamburgerAnimation3;
}

@keyframes hamburgerAnimation3 {
    0% {transform: rotate(0deg) translate(0, 0);}
    70% {transform: rotate(-405deg) translate(0, -200%);}
    80% {transform: rotate(-405deg) translate(50%, -200%);}
    85% {transform: rotate(-405deg) translate(45%, -200%);}
    90% {transform: rotate(-405deg) translate(10%, -200%);}
    95% {transform: rotate(-405deg) translate(12%, -200%);}
    100% {transform: rotate(-405deg) translate(16%, -200%);}
}

.menu-button[type="checkbox"]:checked + .menu-button-container .menu-button__line:nth-child(2) {
    animation-name: hamburgerAnimation2;
}

@keyframes hamburgerAnimation2 {
    0% {background-color: var(--lightGrey);}
    50% {background-color: transparent;}
    100% {background-color: transparent;}
}

.header__nav-list{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 70px;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    padding-left: 0;
}

.header__nav-item {
    background-color: rgba(222, 170, 41, 0.9);
    font: 400 1rem 'Open Sans', sans-serif;
    text-transform: capitalize;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid black;
    transition: .4s cubic-bezier(0.23, 1, 0.32, 1);
    height: 0;
    overflow: hidden;
}

.menu-button[type="checkbox"]:checked ~ .header__nav-list > .header__nav-item {
    height: unset;
    padding: 1.5em 0;
    overflow: initial;
}

.header__nav-link {
    color: var(--black);
}

@media screen and (min-width: 768px) {
    
    .header__inner {
        align-items: center;
    }

    .header__navigation {
        position: static;
        width: 50%;
        height: unset;
    }

    .menu-button-container {
        display: none;
    }

    .header__nav-list {
        display: flex;
        justify-content: space-between;
        position: static;
        margin: 0;
    } 
    .header__nav-item {
        background-color: transparent;
        border-bottom: none;
    }

    .header__nav-item:not(:last-child) {
        margin-right: 1rem;
    }

    .header__nav-link {
        color: var(--lightGrey);
        text-transform: capitalize;
    }
    
}